VITE_SUPABASE_URL=https://tuirmcjqpkmsyjpqidvh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR1aXJtY2pxcGttc3lqcHFpZHZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMwMzM1OTYsImV4cCI6MjA5ODYwOTU5Nn0._OBU3neRoFjXgJdVp7lGnLAWDIKCDcvPbuz9t0n7iLs